*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  @font-face {
    font-family: MontserratLight;
    src: url(/src/Assets/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: MontserratBold;
    src: url(/src/Assets/Montserrat-Bold.ttf);
  }
  

  .shop-component {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 70px;
    gap: 40px;
  }