*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  @font-face {
    font-family: MontserratLight;
    src: url(/src/Assets/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: MontserratBold;
    src: url(/src/Assets/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: ProtestStrike;
    src: url(/src/Assets/Bebas_Neue\,Montserrat\,Protest_Strike.zip);
  }
  
  
.footer-component {
    width: 100%;
    min-height: 100px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 70px;
    background-color: #fff;
    box-shadow: 1px 2px 5px 1px #bab4b4;
  }
  
  @media screen and (max-width:896px) {
    .footer-component {
      width: 100%;
      min-height: 100px;
      padding: 10px;
    }
  }
  
  .footer-card {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .help-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .help-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .help-box > h2 {
    font-size: 13px;
    font-family: ProtestStrike;
  }
  .help-box > a {
    color: #000;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
  }
  .help-box > a:hover {
    color: #006F1C;
    transform: translateX(5px);
    transition: all 0.3s ease-in-out;
  }

  .account-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .account-box > h2 {
    font-size: 13px;
    font-family: ProtestStrike;
  }
  .account-box > a {
    color: #000;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
  }
  .account-box > a:hover {
    color: #006F1C;
    transform: translateX(5px);
    transition: all 0.3s ease-in-out;
  }

  .page-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }
  .page-box > h2 {
    font-size: 13px;
    font-family: ProtestStrike;
  }
  .page-box > a {
    color: #000;
    font-size: 11px;
    transition: all 0.3s ease-in-out;
  }
  .page-box > a:hover {
    color: #006F1C;
    transform: translateX(5px);
    transition: all 0.3s ease-in-out;
  }

  @media screen and (max-width:896px) {
    .footer-card {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
    }
  
    .help-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
    }
  
    .help-box {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;
    }
    .help-box > h2 {
      font-size: 10px;
      font-family: ProtestStrike;
    }
    .help-box > a {
      color: #000;
      font-size: 9px;
      transition: all 0.3s ease-in-out;

    }
  
    .account-box {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;
    }
    .account-box > h2 {
      font-size: 10px;
      font-family: ProtestStrike;
    }
    .account-box > a {
      color: #000;
      font-size: 9px;
      transition: all 0.3s ease-in-out;
    }
  
    .page-box {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      gap: 5px;
    }
    .page-box > h2 {
      font-size: 10px;
      font-family: ProtestStrike;
    }
    .page-box > a {
      color: #000;
      font-size: 9px;
    }
  }
  
  .more-container {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .more-container > h2 {
    font-size: 12px;
    font-family: ProtestStrike;
    color: #000;
  }

  .more-container > .more-partner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (max-width:896px) {
    .more-container {
      width: 100%;
      gap: 10px;
    }
    .more-container > h2 {
      font-size: 10px;
    }
  }
  
  .more-card {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;
  }
  @media screen and (max-width:896px) {
    .more-card {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 25px;
    }
  }

  .stex-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .stex-box > a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
  }

  .stex-box > a > img {
    width: 50px;
    height: 40px;
    object-fit: cover;
  }

  .stex-box > a > h4 {
    width: 50px;
    padding: 5px;
    color: #fff;
    background-color: #006F1C;
    font-family: MontserratLight;
    font-size: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .email-box > a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
  }

  .email-box > a > img {
    width: 50px;
    height: 40px;
    object-fit: cover;
  }

  .email-box > a > h4 {
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    background-color: #006F1C;
    font-family: MontserratLight;
    font-size: 6px;
  }

  .jumia-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .jumia-box > a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
  }

  .jumia-box > a > img {
    width: 50px;
    height: 40px;
    object-fit: cover;
  }

  .jumia-box > a > h4 {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    background-color: #006F1C;
    font-family: MontserratLight;
    font-size: 6px;
  }
  .konga-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .konga-box > a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-decoration: none;
  }

  .konga-box > a > img {
    width: 50px;
    height: 40px;
    object-fit: cover;
  }

  .konga-box > a > h4 {
    width: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #006F1C;
    font-family: MontserratLight;
    font-size: 6px;
  }
  
  @media screen and (max-width:896px) {
    .stex-box > a > img {
      width: 100%;
    }
    .stex-box > a > h4 {
      width: 100%;
    }
    .email-box > a > img {
      width: 100%;
    }
    .email-box > a > h4 {
      width: 100%;
    }
    .jumia-box > a > img {
      width: 100%;
    }
    .jumia-box > a > h4 {
      width: 100%;
    }
    .konga-box > a > img {
      width: 100%;
    }
    .konga-box > a > h4 {
      width: 100%;
    }
  }

  
  .contact-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
  }

  
  .contact-info > a {
    width: 20px;
    height: 20px;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
  }
  .contact-info > a > .icons {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  @media screen and (max-width:896px) {
    .contact-info {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;
    }
  
    .contact-info > a {
      width: 20px;
      height: 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
  

  .partner-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  .partner-container > h2 {
    font-size: 17px;
  }

  .partner-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .partner-card > img {
    width: 30px;
    height: 20px;
    object-fit: cover;
  }

  @media screen and (max-width:896px) {
    .partner-container {
      width: 100%;
      display: flex;
      padding: 20px 0;
      gap: 10px;
    }
    .partner-container > h2 {
      font-size: 14px;
    }
    .partner-card {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
    }
  
    .partner-card > img {
      width: 30px;
      height: 20px;
      object-fit: cover;
    }
  }

  .footer-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #006F1C;
    color: #fff;
    padding: 10px 70px;
  }
  @media screen and (max-width:896px) {
    .footer-box {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column-reverse;
      background-color: #006F1C;
      color: #fff;
      padding: 10px;
    }
  }

  footer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
  }

  footer > a {
    color: #fff;
    font-family: ProtestStrike;
  }
  footer > a:hover {
    color: #000
  }
  @media screen and (max-width:896px) {
    footer {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
      font-size: 12px;
      margin: 10px 0px;
    }
  }

  .footer-box > .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-box > .box > h5 {
    display: flex;
    gap: 10px;
    font-size: 12px;
  }

  .footer-box > .box > h5 > a {
    color: #fff;
  }
  @media screen and (max-width:896px) {
    .footer-box > .box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .footer-box > .box > h5 {
      display: flex;
      gap: 7px;
      font-size: 9.5px;
    }
    .footer-box > .box > h5 > a {
      color: #fff;
    }
  }