*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  @font-face {
    font-family: MontserratLight;
    src: url(/src/Assets/Montserrat-Light.ttf);
  }
  @font-face {
    font-family: MontserratBold;
    src: url(/src/Assets/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: ProtestStrike;
    src: url(/src/Assets/Bebas_Neue\,Montserrat\,Protest_Strike.zip);
  }


  .about-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;
    background-color: rgba(246, 241, 241, 0.815);
    padding: 100px 70px 30px 70px;
  }

  @media screen and (max-width:896px) {
    .about-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 30px;
    }
  }

  .about-container > .about-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .about-text > h2 {
    font-size: 25px;
    font-family: MontserratLight;
  }
  .about-text > p {
    font-size: 14px;
    line-height: 1.4rem;
    font-family: MontserratLight;
  }

  @media screen and (max-width:896px) {
    .about-container > .about-text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
  
    .about-text > h2 {
      font-size: 20px;
      font-family: MontserratLight;
    }
    .about-text > p {
      font-size: 12px;
    }  
  }

  .about-container > img {
    width: 60%;
    height: 320px;
    object-fit: cover;
  }
  @media screen and (max-width:896px) {
    .about-container > img {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }

  .about-component {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px 70px;
  }

  @media screen and (max-width:896px) {
    .about-component {
      width: 100%;
      padding:20px 10px;
    }
  }

  .company-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 70px;
    padding:0 0 70px 0;
  }

  .company-con {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }

  .company-text {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
  }

  .company-text > h2 {
    font-size: 20px;
    font-family: ProtestStrike;
  }

  .company-text > p {
    font-size: 14px;
    line-height: 1.6rem;
    font-family: MontserratLight;
  }

  .company-con > img {
    width: 500px;
    height: 350px;
    object-fit: cover;
  }
  
  .countup-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006F1C;
    padding: 80px;
    border-radius: 20px;
    color: white;
  }
  @media screen and (max-width:896px) {
    .countup-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background-color: #006F1C;
      padding: 50px 10px;
      border-radius: 20px;
      color: white;
      gap: 40px;
    }
  }

  .counter-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .counter-box > h1 {
    font-family: MontserratBold;
    gap: 5px;
    display: flex;
  }
